# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno y secretos
.env
*.pem
*.key
*.json

# Base de datos local
*.db
*.sqlite3

# Archivos generados temporalmente (PDFs y QRs)
storage/pdfs/*
storage/qrs/*
!storage/pdfs/.gitkeep
!storage/qrs/.gitkeep

# Caché de Python
__pycache__/
*.py[cod]