fastapi>=0.111.0
uvicorn[standard]>=0.30.1
pydantic>=2.8.2
python-dotenv>=1.0.1
sqlalchemy>=2.0.31
requests>=2.32.3
paramiko>=3.4.0
jinja2>=3.1.4
weasyprint>=62.3
python-multipart>=0.0.9
google-api-python-client>=2.100.0
google-auth-httplib2>=0.1.1
google-auth-oauthlib>=1.1.0
pandas>=2.2.2
openpyxl>=3.1.5
reportlab>=5.0.1

LANZARELMODODUMMY >= uvicorn main:app --reload --reload-dir src